.proyecto:hover:after {
  width: 20%;
  right: 0%;
}
.proyecto:after {
  content: "";
  pointer-events: none;
  bottom: 0px;
  right: 10%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ec1616;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
